<!DOCTYPE	 html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>My Website - About</title>
	<link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
	<h1> Raniel Brown</h1>

	<p> I am a web developer who loves to code. It is my favourite thing to. Also I love to play basketball and watch it. I am a very jovial individual once you get to know me. This course has allow me to draw closer to web developent so muh that it made me changed my career path. This page was rendered with a powerful micro framework called Flask. </p>
</body>





</html>
